body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2e2e2e;
    color: #f5f5f7;
    overflow: hidden; /* Evita la barra de desplazamiento horizontal */
}

#main-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden; /* Evita que los elementos excedan el límite de la pantalla */
}

#content {
    display: flex;
    flex-grow: 1;
    padding: 10px 15px; 
    box-sizing: border-box;
    overflow: hidden; /* Evita que los elementos se desborden fuera del contenedor */
}

#content-left {
    width: 40%; /* Fija el ancho del contenedor izquierdo */
    padding-right: 15px; 
    border-right: 1px solid #fff; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding-top: 20px;
    overflow-y: auto; 
    max-height: 100vh; 
}

#content-left h2 {
    font-weight: 600;
    color: #f5f5f7;
    margin-bottom: 10px;
}

#content-left p {
    color: #a1a1aa;
    margin-bottom: 15px;
}

#uploadImageWrapper {
    padding: 12px 25px;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: #80cdd9 solid;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-right: 20px; /* Espacio entre el botón y la barra de búsqueda */
}

#uploadImageWrapper input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

#uploadImageWrapper:hover {
    background-color: #3949ab; /* Cambia a un azul más oscuro al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

/* Texto que reemplaza el input de archivo */
#uploadImageWrapper::before {
    content: 'Escolher Arquivo';
    color: #ffffff;
    position: relative;
    z-index: 2;
}

/*MINIATURAS -----------------------------------------*/
#thumbnail-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto; 
    overflow-x: hidden;
    padding: 10px; 
    max-height: 100%;
    width: 100%; 
    box-sizing: border-box;
    max-height: calc(100vh - 250px); /* Ajustar según el diseño para limitar el alto */
}

.thumbnail-wrapper {
    position: relative; /* Necesario para que el botón "X" se posicione en relación con este contenedor */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 10px; /* Separación entre elementos */
    overflow: hidden;
    margin-left: 10px;
}

.thumbnail {
    width: 70px; /* Tamaño fijo de la imagen */
    height: 70px;
    border-radius: 4px;
    object-fit: cover;
}

.thumbnail-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    gap: 10px; /* Añadir espacio entre elementos */
}

.order-number {
    font-weight: bold;
    color: #333;
}

.name-input {
    padding: 10px 20px; /* Espaciado interno */
    font-size: .8em;
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 10px; /* Borde redondeado */
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center; /* Centrado del texto */
}

.action-buttons {
    position: absolute;
    top: 0px;
    right: 0px;
}

.action-buttons button {
    background: transparent;
    border: none;
    border-radius: 50%; /* Asegura el estilo circular */
    color: rgba(255, 0, 0, 0.8);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    box-shadow: none; /* Elimina cualquier sombra */
    outline: none; /* Elimina cualquier contorno del navegador */
    transition: background-color 0.3s ease;
}

.delete-button {
    background: rgba(255, 0, 0, 0.8);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
/*FIN MINIATURAS -----------------------------------------*/

#search-and-upload-wrapper {
    display: flex;
    align-items: center; /* Asegura que estén alineados verticalmente */
    margin-bottom: 15px; /* Espacio entre la barra de búsqueda + botón de carga y las miniaturas */
}

#search-bar-wrapper {
    flex-grow: 1; /* Ocupa el espacio restante en la fila */
}

#searchBar {
    width: 80%; /* Ancho de la barra de búsqueda */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em;
    border: 2px solid #ccc; /* Borde gris claro */
    border-radius: 10px; /* Borde redondeado */
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center; /* Centrado del texto */
}

#searchBar:focus {
    border-color: #0a84ff; /* Cambia el borde al azul cuando está en foco */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}



#viewer-container {
    width: 60%; /* Asegura que el viewer ocupe el espacio restante */
    padding-left: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden; /* Asegura que no haya scroll innecesario en el viewer */
}


#viewer {
    width: 100%;
    height: 90%;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    position: relative;
}

#define-angle-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #0a84ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#define-angle-btn:hover {
    background-color: #006fe0;
}


#placeholder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a1a1aa;
    font-size: 1.2em;
    text-align: center;
}

.panolens-container .panolens-control-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el footer */
footer {
    background-color: #2b2b2b;
    padding: 10px 15px;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.pnlm-sprite.pnlm-hot-spot-debug-indicator {
    display: none !important;
  }

  
#footer-left {
    display: flex;
    align-items: center;
}

#footer-left #logo a {
    font-size: 1.2em;
    font-weight: 600;
    color: #f5f5f7;
    text-decoration: none;
}

#footer-left #project-name{
    color: #a1a1aa;
    font-size: 1em;
    margin-left: 5px;
}

.link{
    color: #4A90E2;
    font-size: 1em;
    margin-left: 5px;
}

/* Menú de opciones en el footer */
#menu {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#menu ul {
    display: flex;
    gap: 15px; /* Ajuste del espacio entre los elementos */
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#menu ul li.active {
    background-color: #f0f0f0; /* Blanco suave para el fondo del paso activo */
    color: #333333; /* Texto gris oscuro en lugar de negro */
    border: 2px solid transparent; /* Borde negro para el paso activo */
}

/* Borde verde para pasos completados 
#menu ul li.completed {
    border: 2px solid #28a745; 
    color: #f5f5f7;
}*/

#menu ul li.completed img {
    filter: none; /* Iconos en color completo */
}

#menu ul li span {
    margin-top: 5px;
    color: inherit;
    font-size: 0.9em;
}

#menu ul li img {
    width: 24px;
    height: 24px;
    filter: invert(85%); /* Mantener los iconos claros */
}

#menu ul li.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#menu ul li.disabled img {
    filter: grayscale(100%);
}

#menu ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#menu ul li.active a {
    background-color: #f0f0f0; /* Blanco suave para el fondo del paso activo */
    color: #333333; /* Texto gris oscuro */
    border-radius: 8px;
}



/* Botones en el footer */
#footer-right {
    display: flex;
    align-items: center;
}

.custom-hotspot {
    position: relative; /* Necesario para el posicionamiento del pseudo-elemento */
    width: 40px; /* Tamaño del hotspot */
    height: 40px;
    background-image: url('../icons/hotspot/arrow.png'); /* Imagen personalizada */
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-repeat: no-repeat;
    border-radius: 50%; /* Mantiene el hotspot circular */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
  }
  
  .custom-hotspot::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px; /* Mismo tamaño que el hotspot */
    height: 40px;
    border: 2px solid white; /* Aro blanco */
    border-radius: 50%; /* Mantiene el aro circular */
    transform: translate(-50%, -50%) scale(1); /* Centra el aro */
    opacity: 0.7; /* Opacidad inicial del aro */
    animation: pulse 2s infinite; /* Aplica la animación de pulso */
  }
  
  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.7;
    }
    70% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
    }
  }
  
  

.btn {
    margin-left: 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    border: #d98080 solid;
    color: #fff;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.btn-primary {
    margin-left: 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    border: #80cdd9 solid;
    color: #fff;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #d98080;
}

.btn-primary:hover {
    background-color: #80cdd9;
}

.notifyjs-corner .notifyjs-wrapper {
    font-weight: normal; /* Asegura que el texto no esté en negrita */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Ajusta la fuente según tus necesidades */
}

.hotspot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 69, 0, 0.8);
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s ease;
}

.hotspot:hover {
    background-color: rgba(255, 69, 0, 1);
}

#viewer-container {
    position: relative;
  }
  
  #setAngleButton {
    position: absolute;
    bottom: 20px;
    left: 15px;
    z-index: 10; /* Asegúrate de que esté encima del visor */
    padding: 20px;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: transparent; /* Azul estilo botón */
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }  